<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'main.css' %}" />
    <link rel="stylesheet" href="{% static 'get-code.css' %}" />
  </head>
  <body>
    <div class="container">
      <div class="text">Telefon raqamingizni kiriting</div>
      <form method="get">
        <input type="number" name="phone" placeholder="+998 XX XXX XX XX" maxlength="13" value="+998">
        <!-- <input type="submit" value="Sms kodni olish"> -->
        <a href="" type="submit">Sms kodni olish</a>

      </form>
    </div>
  </body>
</html>
